<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="widht=device-width, initial- scale=1.0">
<title>meu blog</title>
}
  
body {   
background-color: black; 
color: white;

}
.cabecalho{   
    text-align: center;
    background-color: blue;
    padding: 30x; ;
padding : 30px;
}

main{  

    color: red; 
    
    margin: 





    img;  

        height:80 px;
    }
    .texto-post{   
        margin-left:40 px ;
    } 
    button{  
        widht:100px ;
        padding:10px;
        border-radius:10px;
        background-color: blue
        color:color: white
    } 