

*{     
margin: 0;
padding: 0;
}
  
body {   
background-color: black; 
color: white;

}
.cabecalho{   
    text-align: center;
    background-color: blue;
    padding: 30x; ;
padding : 30px;
}

main{  

    color: red;